body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* 浅灰色背景 */
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    background-color: #fff; /* 白色内容区域背景 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 轻微阴影效果 */
}

header {
    background: #006AB3; /* 指定的蓝色 */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    background: #006AB3; /* 使用和header一样的背景色 */
}

.menu li {
    display: inline-block;
    margin-right: 20px; /* 调整菜单项之间的间距 */
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px; /* 调整菜单项的内边距，使其更易点击 */
}

.menu a:hover {
    background-color: #005092; /* 鼠标悬停时的背景颜色变化 */
}


main {
    padding: 20px;
    text-align: center;
}

.intro {
    margin-bottom: 20px;
}

.rules {
    background-color: #ffffff; /* 设置背景色为白色以突出显示规则部分 */
    padding: 20px; /* 添加内边距以确保文本不会紧贴边框 */
    margin: 20px auto; /* 上下外边距为20px，左右自动，以居中显示 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 添加轻微阴影效果 */
    border-radius: 5px; /* 轻微圆角以提高美观 */
    max-width: 800px; /* 限制最大宽度以提高阅读体验 */
}

.rules h2, .rules h3 {
    color: #006AB3; /* 使用与头部相同的颜色以保持一致性 */
    margin-bottom: 10px; /* 添加适当的下外边距以区分标题和内容 */
}

.rules p {
    margin-bottom: 10px; /* 段落之间的间距，以便于阅读 */
    text-align: justify; /* 两端对齐文本，提高布局的整洁度 */
    line-height: 1.6; /* 增加行高以提高阅读的舒适度 */
}

.rules form {
    margin-top: 20px; /* 在表单上方添加外边距，与其他内容分隔 */
    text-align: center; /* 将按钮居中对齐 */
}

h2 {
    color: #006AB3; /* 指定的蓝色 */
}

.form-hint {
    color: #6c757d; /* 浅灰色，不醒目 */
    font-size: 0.8rem; /* 较小的字体大小 */
    display: block; /* 使元素独占一行 */
    margin-top: 0.5rem; /* 根据需要调整，为提示信息添加一些顶部边距 */
}

.info-section {
    border: 1px solid #d0d7de; /* 使用更细致、更浅颜色的边框 */
    padding: 15px; /* 保持内边距 */
    margin: 20px auto; /* 在上下添加间隙，并居中显示 */
    max-width: 800px; /* 限制最大宽度与.container一致 */
    border-radius: 5px; /* 保持轻微的圆角边缘 */
    background-color: #ffffff; /* 背景颜色设置为白色 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 添加轻微的阴影，与.container风格一致 */
}


.info-section:last-child {
    margin-bottom: 0; /* 确保最后一个部分之后没有额外的间隙 */
}


footer {
    background: #006AB3; /* 指定的蓝色 */
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.form-group {
    margin: 20px auto;
    width: 80%;
    max-width: 500px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em;
}


.button-container {
    text-align: center;
    margin-top: 20px;
}

.next-button {
    background-color: #006AB3;
    color: white;
    border: none;
    padding: 10px 15px; /* 调整按钮的内边距 */
    font-size: 1em; /* 调整按钮的字体大小 */
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color: #005092;
}

.logo-container img {
    max-width: 600px; /* 最大宽度 */
    height: auto; /* 高度自动调整以保持图片比例 */
    display: block; /* 显示为块级元素 */
    margin: 0 auto; /* 在容器中居中 */
    padding: 10px 0; /* 在图片的上下添加一些内边距 */
}


/* 选择框样式，更好地与您的风格保持一致 */
.form-group select {
    width: 60%; /* 保持宽度与父容器一致 */
    padding: 10px; /* 舒适的内边距，提升用户体验 */
    font-size: 1em; /* 字体大小与界面其余部分保持一致 */
    border-radius: 5px; /* 圆角设计，与按钮样式协调 */
    border: 1px solid #ccc; /* 精细的边框颜色，与输入框边框协调 */
    background-color: #fff; /* 背景色为白色，保持内容区背景一致 */
    cursor: pointer; /* 指针光标，改善交互体验 */
    text-align-last: center; /* 选择框文本居中，但不是所有浏览器都支持 */
    appearance: none; /* 移除原生样式，为自定义样式做准备 */
    color: #333; /* 文字颜色，与页面文字保持一致 */
}


.form-group input[type="text"],
.form-group input[type="password"],
.alert {
    width: 60%; /* 统一输入框和错误消息的宽度 */
    margin: 20px auto; /* 居中显示 */
    padding: 10px; /* 增加内边距 */
    font-size: 1.2em; /* 增加字体大小 */
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.alert {
    color: #D8000C; /* 错误消息的文字颜色 */
    background-color: #FFD2D2; /* 错误消息的背景颜色 */
    border-color: #D8000C; /* 错误消息边框颜色 */
    text-align: center;
    border: 1px solid transparent;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert.success {
    color: #333333; /* 深灰色文字，以增强可读性 */
    background-color: #e6f9f0; /* 柔和的浅绿色背景 */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #b2d8cd; /* 淡绿色边框 */
    border-radius: 4px;
    text-align: center;
}

.alert.error {
    color: #8b0000; /* 深红色文字，以增强可读性 */
    background-color: #f9e6e6; /* 柔和的浅红色背景 */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d8b2b2; /* 淡红色边框 */
    border-radius: 4px;
    text-align: center;
}


/* 添加新的布局样式 */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* 如果需要让两边顶部对齐 */
    max-width: 1200px; /* 或根据您的设计调整 */
    margin: 0 auto; /* 居中对齐 */
    padding: 20px;
}

.left-container {
    flex: 1; /* 左侧容器占据剩余空间 */
    margin-right: 20px; /* 为了在两个部分之间添加一些间隔 */
}

.right-container {
    flex: 1; /* 右侧容器占据剩余空间 */
    margin-left: 20px; /* 为了在两个部分之间添加一些间隔 */
}

.section-container {
    background-color: #fff; /* 白色背景 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 阴影效果 */
    padding: 15px;
    margin-bottom: 20px; /* 间距 */
    text-align: left; /* 左对齐文本 */
}

input[type="text"] {
    width: 50%; /* 使输入框宽度填满父元素 */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.client-interface-form {
    display: flex; /* 应用Flexbox布局 */
    align-items: center; /* 垂直居中对齐 */
    justify-content: space-between; /* 元素之间的间距 */
}

.client-interface-form input[type="text"] {
    flex-grow: 1; /* 输入框占据可用空间 */
    margin-right: 10px; /* 输入框和按钮之间的间距 */
}


.client-list ul {
    list-style-type: none;
    padding: 0;
}

.client-list li {
    margin-bottom: 10px;
}

.client-button-container {
    display: flex; /* 使用flex布局 */
    justify-content: space-between; /* 保持元素之间有间隔 */
    padding: 0 10px; /* 在容器内侧添加间距 */
}

/* 第一个按钮 */
.client-button-container .client-button:first-child {
    flex-grow: 6;
    flex-basis: 0;
    padding: 10px 15px;
    margin-right: 10px; /* 在第一个按钮的右侧添加空隙 */
}

/* 第二个按钮 */
.client-button-container .client-button:nth-child(2) {
    flex-grow: 1.5;
    flex-basis: 0;
    padding: 10px 15px;
    margin-right: 10px; /* 在第二个按钮的右侧添加空隙 */
}

/* 删除按钮 */
.client-button-container .delete-button {
    flex-grow: 1.5;
    flex-basis: 0;
    padding: 10px 15px;
    align-self: stretch;
}


.client-button-container a {
    display: inline-block; /* 使链接表现为块级元素 */
    padding: 10px 15px; /* 调整内边距 */
    text-decoration: none; /* 去除下划线 */
    color: white; /* 文字颜色 */
    background-color: #006AB3; /* 背景颜色 */
    border-radius: 5px; /* 圆角边框 */
    transition: background-color 0.3s; /* 平滑颜色过渡 */
}

.client-button-container a:hover {
    background-color: #005092; /* 鼠标悬停时的背景颜色 */
}

.client-button-container .delete-button {
    background-color: #a94442; /* 基础背景颜色 */
    color: white; /* 文字颜色 */
    transition: background-color 0.3s ease; /* 背景颜色变化的过渡效果 */
}

.client-button-container .delete-button:hover {
    background-color: #8a3c32; /* 鼠标悬停时的背景颜色 */
}


/*Select*/
