<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Sailor - About</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<header>
    <h1>Sailor</h1>
</header>
<nav class="menu">
    <ul>
        <li><a href="/select" th:href="@{/select}">Servers</a></li>
        <li><a href="/init" th:href="@{/init}">New server</a></li>
        <li><a href="/about" th:href="@{/about}">About</a></li>
        <li>
            <!-- 注销操作的表单 -->
            <form method="post" th:action="@{/log-out}">
                <input type="submit" value="Log out"/>
                <!-- Thymeleaf自动处理CSRF令牌 -->
            </form>
        </li>
    </ul>
</nav>
<main>
    <section class="intro"><h2>About Sailor</h2></section>
    <section class="rules">
        <h3>Sailor 1.0 beta</h3>
        <p>https://github.com/cnlutong/Sailor</p>
    </section>

</main>
<footer>
    <p>&copy; 2023 Sailor. All rights reserved.</p>
</footer>
</body>
</html>
