<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Sailor - About</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<header>
    <h1>Sailor</h1>
</header>
<nav class="menu">
    <ul>
        <li><a href="/select" th:href="@{/select}">Servers</a></li>
        <li><a href="/init" th:href="@{/init}">New server</a></li>
        <li><a href="/about" th:href="@{/about}">About</a></li>
        <li>
            <!-- 注销操作的表单 -->
            <form method="post" th:action="@{/log-out}">
                <input type="submit" value="Log out"/>
                <!-- Thymeleaf自动处理CSRF令牌 -->
            </form>
        </li>
    </ul>
</nav>
<main>
    <section class="intro"><h2>About Sailor</h2></section>
    <section class="rules">
        <p>Sailor is a WireGuard VPN management tool built on SpringBoot, designed for quick deployment on Ubuntu
            servers. </p>
        <p>It provides a web interface, allowing users to easily create and manage VPN services and their clients.</p>

        <h3>Sailor beta</h3>
        <p>Repository: <a href="https://github.com/cnlutong/Sailor">https://github.com/cnlutong/Sailor</a></p>

        <h3>Contact Information</h3>
        <p>Email: cnlutong@gmail.com / tong.lu@hhu.de</p>
    </section>

</main>
<footer>
    <p>&copy; 2024 Sailor. All rights reserved.</p>
</footer>
</body>
</html>
