<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Sailor - 主页</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<header>
    <h1>Sailor</h1>
</header>
<!-- 显示操作反馈消息 -->
<div class="alert success" th:if="${successMessage}">
    <p th:text="${successMessage}"></p>
</div>
<div class="alert error" th:if="${errorMessage}">
    <p th:text="${errorMessage}"></p>
</div>

<main class="main-container">
    <div class="left-container">
        <section class="info section-container">
            <h2>ServerInterface</h2>
            <p>Server Interface Name: <span th:text="${serverInterfaceName}"></span></p>
        </section>

        <section class="interface-detail section-container">
            <h2>ServerInterface Detail</h2>
            <p>Interface Name: <span th:text="${serverInterfaceName}"></span></p>
            <p>Public Key: <span th:text="${publicKey}"></span></p>
            <p>Address: <span th:text="${address}"></span></p>
            <p>Listen Port: <span th:text="${listenPort}"></span></p>
            <p>Eth Port: <span th:text="${ethPort}"></span></p>
        </section>

        <section class="client-interface section-container">
            <h2>管理ClientInterface</h2>
            <form class="client-interface-form" method="post" th:action="@{/addClientInterface}">
                <input name="clientName" placeholder="Client Name" required type="text">
                <input name="selectedInterface" th:value="${selectedInterface}" type="hidden">
                <button class="next-button" type="submit">添加ClientInterface</button>
            </form>
        </section>

    </div>

    <div class="right-container">
        <div class="client-list section-container">
            <h2>已添加的ClientInterface</h2>
            <ul>
                <li th:each="client : ${clients}">
                    <div class="client-button-container">
                        <!-- 动态生成的下载按钮 -->
                        <a class="client-button" th:download="${client} + .conf"
                           th:href="@{/download/{clientName}(clientName=${client})}" th:text="${client}"></a>
                        <!-- 固定的下载按钮 2 -->
                        <a class="client-button" download="${client} + .png"
                           th:href="@{/download/qr/{clientName}(clientName=${client})}">QR Code</a>
                        <!-- 删除按钮 -->
                        <button class="client-button delete-button" type="button">删除</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    </div>
</main>
<footer>
    <p>&copy; 2023 Sailor. All rights reserved.</p>
</footer>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        // 查询成功和失败的消息元素
        let successAlert = document.querySelector('.alert.success');
        let errorAlert = document.querySelector('.alert.error');
        // 如果存在成功的消息，则2秒后隐藏
        if (successAlert) {
            setTimeout(function () {
                successAlert.style.display = 'none'; // 隐藏成功反馈信息
            }, 2000);
        }
        // 如果存在失败的消息，则同样2秒后隐藏
        if (errorAlert) {
            setTimeout(function () {
                errorAlert.style.display = 'none'; // 隐藏失败反馈信息
            }, 4000);
        }
    });
</script>
</body>
</html>
