<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Sailor - Add new server</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<header>
    <h1>Sailor</h1>
</header>
<nav class="menu">
    <ul>
        <li><a href="/select" th:href="@{/select}">Servers</a></li>
        <li><a href="/init" th:href="@{/init}">New server</a></li>
        <li><a href="/about" th:href="@{/about}">About</a></li>
        <li>
            <!-- 注销操作的表单 -->
            <form method="post" th:action="@{/log-out}">
                <input type="submit" value="Log out"/>
                <!-- Thymeleaf自动处理CSRF令牌 -->
            </form>
        </li>
    </ul>
</nav>
<div class="alert error" th:if="${errorMessage}">
    <p th:text="${errorMessage}"></p>
</div>

<main>
    <section class="intro">
        <h2>Add the new WireGuard VPN Service (Server interface)</h2>
        <p>Please provide the following information to initialize the WireGuard VPN Service (Server interface)</p>
    </section>
    <form method="post" th:action="@{/init}">
        <div class="info-section">
            <h3>Basic Information</h3>

            <div class="form-group">
                <label for="serverInterfaceName">WireGuard VPN Service name (Server interface name)</label>
                <input id="serverInterfaceName" name="serverInterfaceName" required type="text">
            </div>
            <div class="form-group">
                <label for="address">Server intranet IP address</label>
                <input id="address" name="address" placeholder="10.0.0.1" type="text">
                <small class="form-hint">Leave blank to use the default address</small>

            </div>
            <div class="form-group">
                <label for="listenPort">Server listen port</label>
                <input id="listenPort" name="listenPort" placeholder="51820" type="text">
                <small class="form-hint">Leave blank to use the default port</small>
            </div>
        </div>
        <div class="info-section">
            <h3>Advanced information</h3>
            <div class="form-group">
                <label for="ethPort">Ethernet interface</label>
                <input id="ethPort" name="ethPort" placeholder="" type="text">
                <small class="form-hint">Leave it blank and the system will automatically obtain the default
                    port</small>
            </div>
        </div>
        <div class="button-container">
            <button class="next-button" type="submit">submit</button>
        </div>
    </form>
</main>
<footer>
    <p>&copy; 2024 Sailor. All rights reserved.</p>
</footer>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        // 查询成功和失败的消息元素
        let successAlert = document.querySelector('.alert.success');
        let errorAlert = document.querySelector('.alert.error');
        // 如果存在成功的消息，则2秒后隐藏
        if (successAlert) {
            setTimeout(function () {
                successAlert.style.display = 'none'; // 隐藏成功反馈信息
            }, 2000);
        }
        // 如果存在失败的消息，则同样2秒后隐藏
        if (errorAlert) {
            setTimeout(function () {
                errorAlert.style.display = 'none'; // 隐藏失败反馈信息
            }, 4000);
        }
    });
</script>
</body>
</html>
