<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Sailor - 初始化</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<header>
    <h1>Sailor</h1>
</header>
<!-- 显示操作反馈消息 -->
<div class="alert error" th:if="${errorMessage}">
    <p th:text="${errorMessage}"></p>
</div>

<main>
    <section class="intro">
        <h2>初始化配置</h2>
        <p>请提供以下信息以初始化软件。</p>
    </section>
    <form method="post" th:action="@{/init}">
        <h3>基本信息</h3>

        <div class="form-group">
            <label for="serverInterfaceName">ServerInterfaceName:</label>
            <input id="serverInterfaceName" name="serverInterfaceName" required type="text">
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input id="address" name="address" placeholder="10.0.0.1" type="text">
        </div>
        <div class="form-group">
            <label for="listenPort">ListenPort:</label>
            <input id="listenPort" name="listenPort" placeholder="51820" type="text">
        </div>

        <h3>高级信息</h3>
        <div class="form-group">
            <label for="ethPort">EthPort:</label>
            <input id="ethPort" name="ethPort" placeholder="" type="text">
        </div>
        <div class="button-container">
            <button class="next-button" type="submit">提交</button>
        </div>
    </form>
</main>
<footer>
    <p>&copy; 2023 Sailor. All rights reserved.</p>
</footer>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        // 查询成功和失败的消息元素
        let successAlert = document.querySelector('.alert.success');
        let errorAlert = document.querySelector('.alert.error');
        // 如果存在成功的消息，则2秒后隐藏
        if (successAlert) {
            setTimeout(function () {
                successAlert.style.display = 'none'; // 隐藏成功反馈信息
            }, 2000);
        }
        // 如果存在失败的消息，则同样2秒后隐藏
        if (errorAlert) {
            setTimeout(function () {
                errorAlert.style.display = 'none'; // 隐藏失败反馈信息
            }, 4000);
        }
    });
</script>
</body>
</html>
