<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>选择Server Interface</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<header>
    <h1>Sailor</h1>
</header>
<main>
    <section class="intro">
        <h2>选择Server Interface</h2>
        <form th:action="@{/home}" method="get" class="form-container">
            <div class="form-group">
                <label for="selectedInterface">Server Interface:</label>
                <select name="selectedInterface" id="selectedInterface">
                    <option th:each="interface : ${interfaces}"
                            th:value="${interface}"
                            th:text="${interface}">
                    </option>
                </select>
            </div>
            <div class="button-container">
                <button type="submit" class="next-button">选择</button>
            </div>
        </form>
    </section>
</main>
<footer>
    <p>&copy; 2023 Sailor. All rights reserved.</p>
</footer>
</body>
</html>
