<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Sailor - Servers</title>
    <link rel="stylesheet" th:href="@{/css/select.css}"/>
    <script>
        function confirmDelete() {
            return confirm('WARNING: You are about to delete this interface. This action is IRREVERSIBLE. Are you sure you want to proceed?');
        }
    </script>
</head>
<body>
<header>
    <h1>Sailor</h1>
</header>
<nav class="menu">
    <ul>
        <li><a href="/select" th:href="@{/select}">Servers</a></li>
        <li><a href="/init" th:href="@{/init}">New server</a></li>
        <li><a href="/about" th:href="@{/about}">About</a></li>
        <li>
            <form method="post" th:action="@{/log-out}">
                <input type="submit" value="Log out"/>
            </form>
        </li>
    </ul>
</nav>
<main>
    <section class="intro">
        <h2>Please select the WireGuard VPN Service (Server interface)</h2>
        <div class="interface-list">
            <ul>
                <li th:each="interface : ${interfaces}">
                    <span th:text="${interface}">Interface Name</span>
                    <div class="button-container">
                        <a class="button" th:href="@{/home(selectedInterface=${interface})}">Next</a>
                        <!-- 修改后的删除操作的表单，添加onsubmit事件监听 -->
                        <form method="post" onsubmit="return confirmDelete()" style="display: inline;"
                              th:action="@{/deleteInterface}">
                            <input name="selectedInterface" th:value="${interface}" type="hidden"/>
                            <input class="button" type="submit" value="Delete"/>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>
<footer>
    <p>&copy; 2023 Sailor. All rights reserved.</p>
</footer>
</body>
</html>
