<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Sailor - Sign in</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<header>
    <h1>Sailor</h1>
</header>
<nav class="menu">
    <ul>
        <li><a href="/select" th:href="@{/select}">Servers</a></li>
        <li><a href="/init" th:href="@{/init}">New server</a></li>
        <li><a href="/about" th:href="@{/about}">About</a></li>
        <li>
            <!-- 注销操作的表单 -->
            <form method="post" th:action="@{/log-out}">
                <input type="submit" value="Log out"/>
                <!-- Thymeleaf自动处理CSRF令牌 -->
            </form>
        </li>
    </ul>
</nav>
<main>
    <section class="intro">
        <h2>Sign in</h2>
        <p>Please enter your password to create a new account.</p>
    </section>
    <div class="alert error" th:if="${errorMessage}">
        <p th:text="${errorMessage}"></p>
    </div>
    <form method="post" th:action="@{/sign-in}">
        <div class="form-group">
            <label for="username">Username:</label>
            <input id="username" name="username" required type="text">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input id="password" name="password" required type="password">
        </div>
        <button class="next-button" type="submit">Sign in</button>
    </form>
</main>
<footer>
    <p>&copy; 2023 Sailor. All rights reserved.</p>
</footer>
</body>
</html>
